Cython==0.15.1
GnuPGInterface==0.3.2
Mako==0.5.0
Markdown==2.0.3
MarkupSafe==0.15
PIL==1.1.7
Pygments==1.3.1
Sphinx==1.1.2
Twisted==11.0.0
bottle==0.9.6
creole==1.1
diff-match-patch==20090804
distribute==0.6.24
docutils==0.8.1
eulfedora==0.16.0
eulxml==0.15.3
gdata==1.3.3
geopy==0.94
httplib2==0.7.1
icalendar==2.2
idios==0.1.dev6
lettuce==0.1.33
logilab-common==0.57.0
logilab-database==1.6.3
logilab-mtconverter==0.8.2
lxml==2.3.1
mercurial==1.7.5
ply==3.4
poster==0.8.1
pycrypto==2.4
pymarc==2.8.4
python-apt==0.7.100.3ubuntu6.1
python-dateutil==1.4.1
python-openid==2.2.5
python-twitter==0.5
pytz==2010h
rdflib==3.1.0
redis==2.4.10
rql==0.30.1
simplejson==2.0.9
soaplib==0.8.1
sunburnt==0.5
textile==2.1.4
unattended-upgrades==0.1
vobject==0.8.1c
wsgiref==0.1.2
yams==0.33.0
yapps==2.1.1
ybrowserauth==1.2
