<%inherit file="base.html" />
<%block name="more_js">
</%block>




 <div class="content">
   <div class="page-header">
   <h1>About FRBR-Redis Datastore  
	    <small>The technologies used in the FRBR-Redis Datastore Project </small></h1> 
        </div>
        <div class="row">
          <div class="span10">
            <h2>Redis<a name="redis"></a></h2>
            <p>The FRBR-Redis Datastore implements the Entity-Relationship
               bibliographic theory called FRBR (<strong>F</strong>unctional 
               <strong>R</strong>equirements for
               <strong>B</strong>ibliographic <strong>R</strong>ecords) with
               open-source NoSQL key-value technology called 
               <a href="http://redis.io/">Redis</a>
            </p>
            <h2>Web frameworks<a name="webframeworks"></a></h2>
            <p>The FRBR-Redis Datastores uses the following web frameworks and javascript
               libraries to implement the user-interface</p>
            <ul>
              <li>Twitter's <a href="http://twitter.github.com/bootstrap/">Bootstrap</a></li>
              <li><a href="http://raphaeljs.com/">Raphael</a> SVG Javascript library</li>
              <li>3-D Javascript <a href="https://github.com/mrdoob/three.js/">three.js</a></li>
            </ul>
          </div>
          <div class="span4">
            <h3>About</h3>
            <ul>
             <li><a href="#redis">Redis</a></li>
             <li><a href="#webframeworks">Web frameworks</a></li>
            </ul>
          </div>
        </div>
  </div>
 
