<%inherit file="base.html" />
<%block name="more_js">
<script src="/js/raphael-min.js" type="text/javascript"></script>
</%block>



 <script type="text/javascript">
  window.onload = function() {
    var paper = Raphael("visualize", 640, 480);
    var frbr_work = paper.rect(110,10, 240, 100);
    var frbr_title = paper.text(150,100,"FRBR Work")
    frbr_work.attr('fill','#FFF2CC');
  }
 </script>

 <div class="content">
   <div class="page-header">
   <h1>FRBR Datastore Visualizations 
	    <small>Built with <a href="http://redis.io/">Redis.io</a> and <a href="http://bottlepy.org/docs/dev/">Bottle</a></small></h1> 
        </div>
        <div class="row">
          <div class="span10">
            <h2>Bibliographic Cube</h2>
            <div id="visualize"></div>
          </div>
          <div class="span4">
            <h3>Visualization Options</h3>
            <ul>
             <li><a href="#">Bibliographic Cube</a></li>
            </ul>
          </div>
        </div>
  </div>
 
