{% extends 'base.html' %}
{% load i18n %}

{% block head-title %}{% trans "FRBR-Redis Datastore Call Number App" %}{% endblock %}

{% block more-css %}
<link href="{{ STATIC_URL }}call_number/css/call_number.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
 {% comment %}START content DIV{% endcomment %}
 <div class="content">
  {% comment %}START page-header DIV{% endcomment %}
  <div class="page-header">
    <h1>{% trans "Call Number App" %} 
    <small>{% trans "Web, mobile, and embedded widget for browsing and searching call numbers" %}</small>
    </h1>
  {% comment %}END page-header DIV{% endcomment %}
  </div>
  
  <div class="row">
   <div class="span4">
	<h2>Sample Widget</h2>
    {% include 'widget.html' %}
   </div>
   <div class="span6">
    <h2>Search</h2>
   </div>
  </div>
 {% comment %}END content DIV{% endcomment %}
 </div>
{% endblock %}
