<footer class="row-fluid">
 {% block portfolio-btn %}
 <div class="span2">
 <a href="/portfolio" class="btn"><i class="icon-th"></i> App Portfolio</a>
 </div>
 {% endblock %}
 {% block about-btn %}
 <div class="span3">
  <div class="btn-group">
   <a href="#" class="btn" onclick="$('#about_app_dlg').modal('show')"><i class="icon-info-sign"></i> About</a>
   <a href="/" class="btn"><i class="icon-home"></i> Home</a>
   <a href="#" onclick="$('#help_app_dlg').modal('show')" class="btn"><i class="icon-question-sign"></i> Help</a>
  </div>
 </div>
 {% endblock %}
</footer>
