{% extends 'app-base.html' %}
{% load i18n %}

{% block more-css %}
  <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}call_number/css/app.less" />
  <link href="{{ STATIC_URL }}article_search/css/app.css" rel="stylesheet" type="text/css" />
  <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet" type="text/css" />
  <script src="{{STATIC_URL }}js/jquery-1.7.2.min.js"></script>
  <script src="{{STATIC_URL }}js/bootstrap-dropdown.js"></script>
{% endblock %}

{% block body %}
{% comment %}START content DIV{% endcomment %}
<div class="content">
 {% comment %}START row-fluid DIV{% endcomment %}
 <div class="row-fluid">
  {% comment %}START search DIV{% endcomment %}
  <div class="row12">
  <div class="row">
    <div class="span7" style="background:#EEE9DA; border:4px solid white;">
      <form class="form-inline" style="margin:12px;" action="http://discovery.coloradocollege.edu/catalog/search" method="get">
        <div class="control-group">
          <label class="control-label" for="searchIcon" style="font-size:18px">Find <strong><font color="purple">Books</font></strong></label>
          <div class="controls">
            <div class="input-prepend" style="float:left; width:248px;">
              <span class="add-on"><i class="icon-search"></i></span><input id="searchIcon" name="q" type="text" placeholder="Search TIGER!">
            </div>
            <input type="hidden" id="search-type" name="search-type" value="search" />
            <div class="btn-group" style="float:left;">
              <button type="submit" id="searchby" name="btnsubmit" class="btn" value="Search Keyword">Search Keyword</button>
              <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a onclick='ChangeText("Search Keyword");' href="#">Keyword</a></li>
                <li><a onclick='ChangeText("Search Author");' href="#">Author</a></li>
                <li><a onclick='ChangeText("Search Title");' href="#">Title</a></li>
                <li><a onclick='ChangeText("Search Subject");' href="#">Subject</a></li>
                <li><a onclick='ChangeText("Search Journal Title");' href="#">Journal Title</a></li>
              </ul>
            </div>
          </div>
        </div>
      </form>
      <div class="horizontalList" id="bookSearch">
        <ul>
          <li>&bull; <a href="http://discovery.coloradocollege.edu/catalog/advanced">Advanced Book Search</a></li>
          <li>&bull; <a href="http://www.coalliance.org/prospector/">Prospector</a></li>
          <li>&bull; <a href ="http://www.worldcat.org/">WorldCat</a></li>
        </ul>
      </div>
    </div>
  </div>
  {% comment %}END search DIV{% endcomment %}
  </div>
 {% comment %}END row-fluid DIV{% endcomment %}
 </div>
 {% comment %}START row-fluid DIV{% endcomment %}
 <div class="row-fluid">
  {% comment %}START widget DIV{% endcomment %}
  <div class="row12">
  {% comment %}END widget DIV{% endcomment %}
  </div>
 {% comment %}END row-fluid DIV{% endcomment %}
 </div>
{% comment %}END content DIV{% endcomment %}
</div>
<script type="text/javascript">
function ChangeText(buttonText)
{
document.getElementById("searchby").innerHTML=buttonText;
document.getElementById("searchby").value=buttonText;
if (buttonText.charAt(7)=='K')
  {
  document.getElementById("search-type").value="search";
  }
else if (buttonText.charAt(7)=='A')
  {
  document.getElementById("search-type").value="author_search";
  }
else if (buttonText.charAt(7)=='T')
  {
  document.getElementById("search-type").value="title_search";
  }
else if (buttonText.charAt(7)=='S')
  {
  document.getElementById("search-type").value="subject_search";
  }
else if (buttonText.charAt(7)=='J')
  {
  document.getElementById("search-type").value="title_search";
  }
}
</script>
{% endblock %}
