<%inherit file="presentation-inside.html" />
## START content DIV
<div class="content">
 ## START row 1 DIV
 <div class="row">
  ## START Main Visualization For Flat View
  <div class="span7" id="visualization">
  % if xml_text:
  <textarea style="width:550px" rows="20">
  ${xml_text}
  </textarea>
  % else:
  <h2>Please select schema and WEMI entities</h2>
  % endif
  ## END Main Visualization For Flat View
  </div>
  
  ## START Schema/Format and WEMI entities selection
  <div class="well span4">
   <form action="/code4lib/record2cube/record.html">
   <h5>Select Schema or Formats</h5>
   <select name="schema">
    <option value="dc">Dublin Core</option>
    <option value="mods">MODS</option>
    <option value="marc">MARC21</option>
   </select>
   <h5>Select WEMI Entities</h5>
   <select name="wemi-redis-id">
    % for k,v in redis_entities.iteritems():
    <option value="${k}">${v['work'].titleOfTheWork.title.value_of}</option>
    % endfor
   </select>
   <br/>
   <input type="submit" value="Display" class="btn" />
  </div>
  

 ## END row 1 DIV
 </div>
## END content DIV
</div>


