<%inherit file="presentation-inside.html" />
<div class="content">
 <div class="hero-unit" id="main-content">
  <h1 class="cc_royal">A Bibliographic Framework for the Digital Age</h1>
  <p>A Library of Congress <a href="http://www.loc.gov/bibliographic-future/">Working 
     Group of the Future of Bibliographic Control</a> announcement,
     <a href="http://www.loc.gov/marc/transition/news/framework-103111.html">A
     Bibliographic Framework for the Digital Age</a> is the underlying
     development requirements used in the  
  <a href="#">FRBR-to-Redis-Datastore</a>.
  </p>        
  <p><a class="btn primary large" href="/record2cube.html">Record-To-Cube &raquo;</a></p>
 </div>
 
 <div class="row">
  ## 
  <div class="span6">
   <h2>Summary</h2>
   <p>
     The summary...
   
   </p>
   <ul>
     <li>Start of NoSQL can be traced to BigTable by Google Engineers</li>
     <li>Google App Engine provides access to BigTable but with propertariy
         restrictions and tied to Google's Cloud.
     <li>Hadoop is the fastest growing open-source implementation of 
         BigTable</li>
     <li>Complex to set-up; IR model works for FRBR-based datastore</li>
     <li>Tried to migration attempts from 
   </ul>
   <p><a class="btn" onclick="loadDetail('hadoop.html')">Details
      &raquo;</a></p>
  </div>
  ## END Google BigTable and Hadoop  Section
  ## START Other classes of nosql Section
  <div class="span5">
   <h2>Other Summary </h2>
   <p>Document based - </p>
   <p>Cassandra - </p>
   <p>Cache based - </p>
   <ul>
    <li>Used by Colorado College's Fedora Commons Digital Archives</li>
   </ul>
   <p><a class="btn" onclick="loadDetail('other_nosql.html')">Details 
      &raquo;</a></p>
  </div>
  ## END Other classes of nosql Section
  ## START Redis Section
  <div class="span5">
  <h2>Relationship to <a href="/engineering/testing.html">Unit and BBD Testing</a></h2>
  <p>The key-value <a href='http://redis.io'>Redis.io</a> cache nature
  means Redis is fast, small, and easy is to deploy, key requirements 
  of the LOC bibliographic frameworks and cructial for smaller and leaner
  libraries and cultural information technology organizations.</p>
  <ul>
    <li>Fast, C code</li>
    <li>Multiple language bindings including Python, Ruby, PHP, Perl,
    C#, and Java. (Tired of language </li>
    <li>Easier to represent multi-deminsional nature of bibliographic
     records without the overhead of datastore technology</li>
  </ul>
  <p><a class="btn" onclick="loadDetail('mods.html')">Details 
      &raquo;</a></p>
  </div>
  ## END Redis Section
 </div>
</div>
