<%inherit file="presentation-inside.html" />
<div class="content">
 <div class="hero-unit" id="main-content">
  <h1 class="cc_royal">A Bibliographic Framework for the Digital Age</h1>
  <p>A Library of Congress <a href="http://www.loc.gov/bibliographic-future/">Working 
     Group of the Future of Bibliographic Control</a> announcement,
     <a href="http://www.loc.gov/marc/transition/news/framework-103111.html">A
     Bibliographic Framework for the Digital Age</a> is the underlying
     development requirements used in the  
     <a href="${project.url}">${project.name}</a> Project.
  </p>        
  <p><a class="btn primary large" href="/background/loc_summary.html">Summary &raquo;</a></p>
 </div>
 
 <div class="row">
  ## Begin LOC Bib Framework Summary DIV
  <div class="span6">
   <h2>Summary</h2>
   <p>
    In the October 31, 2011 the Library of Congress announcement,
    <a href="http://www.loc.gov/marc/transition/news/framework-103111.html">A Bibliographic Framework for the Digital Age</a>,
    outlined a set of requirements for a bibliographical replacement for the legacy, but still widely used by libraries of
    all sizes and descriptions, <a href="/background/marc21.html">MARC21</a> standard. This framework includes a suggested approach that includes using technologies
    from the Semantic Web such as RDF and Linked Data, along with RDA, while still maintaining interoperability with 
    MARC21.
   </p>
   <ul>

   </ul>
   <p><a class="btn" href="/background/loc_summary.html">Details
      &raquo;</a></p>
  </div>
  ## END Begin LOC Bib Framework Summary
  ## START FRBR-to-Redis Datastore Requirements DIV
  <div class="span5">
   <h2>${project.name} Project Requirements</h2>
   <p>The <a href="${project.url}">${project.name}</a> project uses
      the Framework as the base requirements for software 
      development
   </p>
   <ul>
    <li>Broad accommodation of content rules and data models.</li>
    <li>Provision for types of data that logically accompany or support bibliographic description</li>
    <li>Accommodation of textual data, linked data with URIs instead of text, and both</li>
    <li>Consideration of the relationships between and recommendations for 
        communications format tagging, record input conventions, and system 
        storage/manipulation.</li>
    <li>Consideration of the needs of all sizes and types of libraries, from 
        small public to large research.</li>
    <li>Continuation of maintenance of MARC until no longer necessary.</li>
    <li>Compatibility with MARC-based records.</li>
    <li>Provision of transformation from MARC 21 to a new bibliographic environment.</li>
   </ul>
   <p><a class="btn" href="/background/loc_requirements.html">Details 
      &raquo;</a></p>
  </div>
  ## END FRBR-to-Redis Datastore Requirements DIV
  ## START Redis Section
  <div class="span5">
  <h2>Relationship to <a href="/engineering/testing.html">Unit and 
      BBD</a> Testing</h2>
  <p>
   This report is used to create the unit testing of specific
   code in <a href="#">FRBR-to-Redis Datastore</a> using a combination of
   unit and BBD tests more throughly explained here and in the
   engineering section on <a href="/engineering/testing.html">testing</a>.
  </p>
  <p><a class="btn" href="/background/loc_testing.html">Details 
      &raquo;</a></p>
  </div>
  ## END Redis Section
 </div>
</div>
