<%inherit file="slide.html" />


<%block name="main_content">
  <h1 class="cc_royal">Relationship to Unit and BBD Testing</h1>
  <p>The Library of Congress <a href="#">A Bibliographic Framework for
   the Digital Age</a> report for quality assurance testing of specific 
   code in FRBR-to-Redis Datastore using a combination of unit and BBD 
   tests more throughly explained here and in the engineering 
   section on <a href="/engineering/testing.html">testing</a>.
  </p>
  <p>
     <a class="btn primary large" href="/record2cube.html">Record to Cube Visualizations &raquo;</a>
  </p> 
</%block>
