<%inherit file="slide.html" />


<%block name="main_content">
  <h1 class="cc_royal">MARC21</h1>
  <p>MARC21 is the current data carrier for library bibliographic 
     records.</p>
     <ul>
      <li>Legacy and wide-spread</li>
      <li>Inoperability is a core requirement of LOC Bibliographic
          Framework</li>
      <li>Colorado College's currently uses its legacy ILS to manage over 
         <span class="label success">860,000</span> 
         MARC21 records for print holdings and purchased 
         electronic resources</li>
     </ul>
  <p>
    <a class="btn primary large" href="/background/mods.html">MODS &raquo;</a>
  </p>
</%block>

<%block name="sidebar_content">
 <div class="well">
  <h5>MARC21, A Brief History</h5>
 </div>
</%block>
