<%inherit file="slide.html" />

<%block name="more_js">
<script type="text/javascript">

</script>
</%block>

<%block name="main_content">
  <h1 class="cc_royal">MODS</h1>
  <p>The Metadata Object Description Schema or 
     <a href="http://www.loc.gov/standards/mods/">MODS</a> is a 
     Library of Congress sponsor bibliographic XML schema defining
     elements and attributes including a subset of MARC 21 features.</p>
  <ul class="main-content">
   
   <li>Used by Colorado College's 
       <a href="#">Fedora Commons Digital Archives</a></li>
  
  </ul>
  <p>
    <a class="btn btn-primary btn-large" href="/code4lib/background/frbr.html">FRBR &raquo;</a>
  </p>
 </%block>
 
 <%block name="sidebar_content">
 <div class="well">
  <h3>Examples</h3>
  <p style="text-align:center;">
   <button class="btn btn-success" data-keyboard="true" data-backdrop="true" 
    data-controls-modal="mods-journal-example">Journal Article</button>
  </p>
  <p style="text-align:center;">
   <button class="btn btn-success" data-keyboard="true" data-backdrop="true" 
    data-controls-modal="mods-movie-example">Motion Picture</button>
  </p>
  <p style="text-align:center;">
   <button class="btn btn-success" data-keyboard="true" data-backdrop="true" 
    data-controls-modal="mods-thesis-example">Colorado College Thesis</button>
  </p>
 </div>

 </%block>
 
 <%block name="subtopic_one">
 ## START MODS, Redis, and Python DIV
 <div class="alert alert-block alert-warning" >
   <h2>MODS Python </h2>
   <p>
    The initial strategy to represent MODS's XML structure in the key-value 
    data structure of <a href="/code4lib/background/redis.html">Redis</a> is to
    create a <a href="https://github.com/iamteem/redisco">Redisco</a> 
     MODS class that uses <a href="http://lxml.de/">LXML</a> to load a MODS 
     XML document or fragment. This
     is an example of a title element.
   </p>
   <pre class="prettyprint">
   class title(baseMODS):
        """
        title MODS element in Redis datastore
        """
        value_of = models.Attribute()
    
        def load_xml(self,
                     title_element):
            """
            Method takes MODS xml and updates 
            values in Redis datastore
            based on XML values
        
            :param title_element: title XML 
                                  element
            """
            set_attributes(title_element,self)
            self.value_of = title_element.text
            self.save()
   </pre>
 ## END MODS, Redis, and Python DIV
 </div>
 </%block>
 
 <%block name="subtopic_two">
 ## START Redis Key-Value DIV
 <div class="">
  <h2>Redis Datastore</h2>
  <p>
   The Python MODS class instance stores the MODS XML in the Redis
   datastore with the following structure:
  </p>
  <table class="table table-bordered table-striped table-condensed">
   <thead>
    <tr>
     <th>Redis Key</th>
     <th>Redis Type</th>
     <th>Example</th>
    </tr>
   </thead>
   <tbody>
   <tr>
    <td>mods:1</td>
    <td>hash</td>
    <td>version:3.4</td>
   </tr>
   <tr>
    <td>mods:1:titleInfos</td>
    <td>list</td>
    <td>1</td>
   </tr>
   <tr>
    <td>titleInfo:1</td>
    <td>hash</td>
    <td>title_id:1</td>
   </tr>
   <tr>
    <td>title:1</td>
    <td>hash</td>
    <td>value_of:'FRBRizing an E-Library'</td>
   </tr>
   </tbody>
  </table>
 ## END DIV
 </div>
 </%block>
 
 ## START MODS LOC Journal Article MODS Example DIV
 <div class="modal hide fade span10" id="mods-journal-example">
  ## START MODS LOC Modal Header DIV
  <div class="modal-header">
   <a href="#" class="close">&times;</a>
   <h3>MODS Journal Article Example</h3>
  ## END MODS LOC Modal Header DIV
  </div>
  ## START MODS LOC Modal Body DIV
  <div class="modal-body">
  ## START MODS Journal Article PRE DIV
  <pre class="prettyprint linenums" style="font-size: 1.1em;">
  &lt;mods&gt;
    &lt;titleInfo&gt;
      &lt;title&gt;Emergence and Dissolvence in the Self-Organization of Complex Systems&lt;/title&gt;
    &lt;/titleInfo&gt;
  &lt;/mods&gt;
  &lt;name type="personal"&gt;
	&lt;namePart type="family"&gt;Testa&lt;/namePart&gt;
	&lt;namePart type="given">Bernard&lt;/namePart&gt;
	&lt;role&gt;
	 &lt;roleTerm&gt;author&lt;/roleTerm&gt;
	&lt;/role&gt;
  &lt;/name&gt;
    .
    .
    .
 &lt;identifier type="uri"&gt;http://www.mdpi.org/entropy/papers/e2010001.pdf&lt;/identifier&gt;
  ## END MODS Journal Article PRE DIV
  </pre>
  ## END MODS LOC Modal Body DIV
  </div>
  ## START MODS LOC Modal Footer DIV
  <div class="modal-footer">
   <p>Full MODS example available at Library of Congress MODS website 
    at 
    <a href="http://www.loc.gov/standards/mods/v3/modsjournal.xml">http://www.loc.gov/standards/mods/v3/modsjournal.xml</a>
   </p>
   <a href="#" onclick="$('#mods-journal-example').modal('hide')" class="btn primary">Close</a>
  ## END MODS LOC Modal Footer DIV
  </div>
 ## END MODS LOC Journal Article MODS Example DIV
 </div>
 
## START MODS LOC Movie MODS Example DIV
 <div class="modal hide fade span10" id="mods-movie-example">
  ## START MODS LOC Modal Header DIV
  <div class="modal-header">
   <a href="#" class="close">&times;</a>
   <h3>MODS Movie Example</h3>
  ## END MODS LOC Modal Header DIV
  </div>
  
  ## START MODS LOC Movie Body DIV
  <div class="modal-body">
   <textarea rows="15" class="xml-display">
   <mods xmlns:xlink="http://www.w3.org/1999/xlink" version="3.4" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.loc.gov/mods/v3" xsi:schemaLocation="http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-4.xsd">
    <titleInfo>
	<nonSort>The</nonSort>
	 <title>Urban Question as a Scale Question</title>
	 <subTitle>Reflections on Henri Lefebre, Urban Theory and the Politics of Scale</subTitle>
    </titleInfo>
    <name type="personal">
	<namePart type="given">Neil</namePart>
	<namePart type="family">Brenner</namePart>
	<role>
	 <roleTerm type="text">author</roleTerm>
	</role>
    </name>
    <typeOfResource>text</typeOfResource>
    <genre>article</genre>
    <originInfo>
     <issuance>monographic</issuance>
    </originInfo>
    <relatedItem type="host">
    <titleInfo>
     <title>International Journal of Urban and Regional Research</title>
    </titleInfo>
    <originInfo>
     <issuance>continuing</issuance>
    </originInfo>
    <part>
    <detail type="volume">
     <number>24</number>
    </detail>
    <detail type="issue">
     <number>2</number>
     <caption>no.</caption>
    </detail>
    <extent unit="pages">
     <start>361</start>
     <end>378</end>
    </extent>
    <date>2000</date>
   </part>
  </relatedItem>
  <identifier>BrennerN2000a</identifier>
 </mods>
 </textarea>
  ## END MODS LOC Movie Body DIV
  </div>
  
  ## START MODS LOC Modal Footer DIV
  <div class="modal-footer">
   <p>Full MODS example available at Library of Congress MODS website 
    at 
    <a href="http://www.loc.gov/standards/mods/v3/mods80700998.xml">http://www.loc.gov/standards/mods/v3/mods80700998.xml</a>
   </p>
   <a href="#" onclick="$('#mods-movie-example').modal('hide')" class="btn btn-primary">Close</a>
  ## END MODS LOC Modal Footer DIV
  </div>
  ## END MODS LOC Movie Body DIV
  </div>
  
  ## START MODS CC Thesis DIV
  <div class="modal hide fade span10" id="mods-thesis-example">
   ## START MODS LOC Modal Header DIV
   <div class="modal-header">
   <a href="#" class="close">&times;</a>
   <h3>Colorado College Thesis Example</h3>
   ## END MODS LOC Modal Header DIV  
   </div>
   <div class="modal-body">
   <textarea class="xml-display" rows="10">
   <mods>
    <titleInfo>
     <title>NoSQL Bibliographic Records</title>
    </titleInfo>
   </mods>
   </textarea>
   </div>
   <div class="modal-footer">
    <a class="btn btn-primary" onclick="$('#mods-thesis-example').modal('hide')">Close</a>
   </div>
  ## END MODS CC Thesis DIV
  </div>
