<%inherit file="presentation-inside.html" />
## START content DIV
<div class="content">
 ## START row 1 DIV
 <div class="row">
   
  ## START Visualization Options DIV
  <div class="span4 well">
  <h3>Multiple WEMI Cubes</h3>
  <p style="text-align:center">
   <button class="btn info">SVG</button>
  </p>
  <p style="text-align:center">
   <button class="btn info">Universe</button>
  </p>
  <p style="text-align:center">
   <button class="btn info">Minecraft</button>
  </p>
  
  ## END Visualization Options DIV
  </div>
  
  ## START main visualization Multiple WEMI Cube View DIV
  <div class="span10" id="visualization">
    <h2>Please select visualization</h2>
  ## END Main Visualization For Multiplue WEMI Cube View DIV
  </div>
 ## END row 1 DIV
 </div>
## END content DIV
</div>
