<%inherit file="presentation-inside.html" />
<div class="content">
 <div class="hero-unit" id="main-content">
  <h1 class="cc_royal">NoSQL &amp; Redis</h1>
  <p>NoSQL is a class of newer data storage 
    technologies that are sidestepping the traditional 
    normalized relationship datastore with enforced consistency 
    and defined schema.</p>
   <p>Redis is an example of ...</p>
          
  <p><a class="btn primary large" href="loc_framework.html">LOC 
     Bibliographic Framework &raquo;</a></p>
 </div>
 
 <div class="row">
  ## Google BigTable and Hadoop
  <div class="span6" style="background: url(http://hadoop.apache.org/images/hadoop-logo.jpg) bottom right no-repeat;">
   <h2>BigTable and Hadoop<a name="bigtable.html"></a></h2>
   <p>
     NoSQL or, non-SQL could agruable be traced to BigTable...
   
   </p>
   <ul>
     <li>Start of NoSQL can be traced to BigTable by Google Engineers</li>
     <li>Google App Engine provides access to BigTable but with propertariy
         restrictions and tied to Google's Cloud.
     <li>Hadoop is the fastest growing open-source implementation of 
         BigTable</li>
     <li>Complex to set-up; IR model works for FRBR-based datastore</li>
     <li>Tried to migration attempts from 
   </ul>
   <p><a class="btn" onclick="loadDetail('hadoop.html')">Details
      &raquo;</a></p>
  </div>
  ## END Google BigTable and Hadoop  Section
  ## START Other classes of nosql Section
  <div class="span5">
   <h2>Other NoSQL <a name="other_nosql"></a></h2>
   <p>Document based - </p>
   <p>Cassandra - </p>
   <p>Cache based - </p>
   <ul>
    <li>Used by Colorado College's Fedora Commons Digital Archives</li>
   </ul>
   <p><a class="btn" onclick="loadDetail('other_nosql.html')">Details 
      &raquo;</a></p>
  </div>
  ## END Other classes of nosql Section
  ## START Redis Section
  <div class="span5" style="background: url(http://redis.io/images/redis.png) top right no-repeat;">
  <h2>Why Redis<a name="frbr"></a></h2>
  <p>The key-value <a href='http://redis.io'>Redis.io</a> cache nature
  means Redis is fast, small, and easy is to deploy, key requirements 
  of the LOC bibliographic frameworks and cructial for smaller and leaner
  libraries and cultural information technology organizations.</p>
  <ul>
    <li>Fast, C code</li>
    <li>Multiple language bindings including Python, Ruby, PHP, Perl,
    C#, and Java. (Tired of language </li>
    <li>Easier to represent multi-deminsional nature of bibliographic
     records without the overhead of datastore technology</li>
  </ul>
  <p><a class="btn" onclick="loadDetail('mods.html')">Details 
      &raquo;</a></p>
  </div>
  ## END Redis Section
 </div>
</div>
