<%inherit file="slide.html" />

<%block name="main_content">
 <h1 class="cc_royal">Python</h1>
 <p>Engineering <a href="#">FRBR-to-Redis Datastore</a> using Python 
    and open-source third-party modules.</p>
    <p>
     <a class="btn primary large" href="/engineering.html">Engineering &raquo;</a>
   </p>
</%block>


<%block name="sidebar_content">
<div class="well">
 <h5>Python Language</h5>
 <ul>
  <li>Rich third party support</li>

 </ul>
 <h5>LXML Module</h5>
 <img style="float:right" src="http://lxml.de/python-xml.png" />
 <p>
 The <a href="http://lxml.de/">lxml</a> is an xml python library used for MODS,
 RDA, SKOS, and general XML processing needs in the 
 <a href="#">FRBR-to-Redis datastore</a> project.</p>
 
<h5>PyMARC Module</h5>
 <p>Ed Summer's <a href="">PyMARC</a> module is used in interaction of the 
 <a href="#">FRBR-Redis datastore</a> with MARC21 files</p>


<h5>Redis.py Module</h5>
<p>Andy McCurdy's <a href="https://github.com/andymccurdy/redis-py">Redis.py</a>
Python module is used for most utility and general datstore interaction with the
C Redis store.</p>

</div>
</%block>

<%block name="subtopic_one">
 <h2>Colorado College's <a href="http://discovery.coloradocollege.edu">Discovery Layer</a></h2>
 ##<iframe style="float:right" src="http://discovery.coloradocollege.edu"></iframe>
 <ul>
    <li>Implemented in Django</a>
    <li>Fedora Commons Digital Repository also implemented using Emory University
        Eulfedora and Eulxmap modules</li>
    <li>Solr interactions built using Sunburnt.
     <li>Licensed under Apache 2 and available at <a href="https://github.com/jermnelson/Discover-Aristotle">Discover Aristotle</a></li>
 </ul>
</%block>

