<%inherit file="presentation-inside.html" />

<%block name="more_js">
<script type="javascript">
 function bremix() {
	 document.getElementById('brand-remax').attrib('display') = 'box';
 }

</script>
</%block>

## START content DIV
<div class="content">
 ## START hero DIV
 <div class="hero-unit">
  <h1 class="cc_royal">Parting Salvos</h1>
  <p>Some finishing thoughts about (one) possible future 
     of cataloging and libraries</p>
  <h2>Thank-you!</h2>
 ## END hero DIV
 </div>

 ## START Brand DIV
 <div class="hero-unit" id="brand-remax" style="display:none;">
 <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Stewart_Brand_-Sausalito%2C_California%2C_USA_-at_home-14Dec2010.jpg/320px-Stewart_Brand_-Sausalito%2C_California%2C_USA_-at_home-14Dec2010.jpg" style="float:left" />
 <h2 style="color:gold">We are all catalogers we might as we well get good at it</h2>
 <p>Remix of Steward Brand's quote from the first page of the Whole Earth
    catalog</p>
 ## END Brand DIV
 </div>
 

 
 ## FIRST row DIV
 <div class="row">
  ## START What? Why? DIV
  <div class="span6">
   <p><a class="btn info large">Catalog What? Where? Why?</a></p>
  ## END What? Why? DIV
  </div>
  ## START Stross Comment DIV
  <div class="span5">
  <p><a class="btn info large">Charles Stross Comment</a></p>
  ## END Stross Comment DIV
  </div>
  ## START Brand Remix DIV
  <div class="span5">
    <p><a class="btn info large" onclick="bremix()">Stewart Brand Remix</a></p>
  ## END Brand Remis DIV
  </div>
 ## END row DIV
 </div>

## END content DIV
</div>

## START Stross Div
<div class="hero-unit" id="charles-stross-galatic-cataloger" 
 style="background: url(http://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/Charles_Stross_May09.jpg/240px-Charles_Stross_May09.jpg) top right no-repeat;">
<h1 class="cc_royal">The Galatic Catalog</h1>
<h2>Charles Stross Laundry Series</h2>
<p>
 Magic is just computational realisim, making what we do even more
 voodoo. Do you ever imagine being a cataloger in a Lovercraftain, Lucas,
 Poter, Dungeons and Dragons, or Tokken universies?
</p>
<p>
 However! Unlike all of those other fields, we as librarians, information
 technologists, and curious individuals can and do apply imaginary 
 topics to never existing artifacts using the same technology we use for
 tangible objects. 
</p>
<p>
 So imagine your FRBR artifacts cataloged with your communitiy's metadata
 branes, creating the augmented world of smart splimes.
</p>
## END Stross Div
</div>


