<%inherit file="presentation-inside.html" />
## START content DIV
<div class="content">
 ## START row 1 DIV
 <div class="row">
   
  ## START Visualization Options and WEMI Selection DIV
  <div class="span4 well">
  <h5>Select Available WEMI Entities</h5>
   <p>
   <select name="wemi-redis-id" id="wemi-redis-id">
    <option value="REDIS_ID">Code4Lib 2012 Presentation's WEMI Entities</option>
   </select>
   </p>
   <p style="text-align:center">
   <button class="btn info">SVG</button>
   </p>
   <p style="text-align:center">
   <button class="btn info">Animated</button>
   </p>
  ## END Visualization Options and WEMI Selection DIV
  </div>
  
    ## START Main Visualization For WEMI Cube View DIV
  <div class="span10" id="visualization">
    <h2>Please select WEMI entities and visualization</h2>
  ## END Main Visualization For WEMI Cube View DIV
  </div>
 ## END row 1 DIV
 </div>
## END content DIV
</div>
