<%inherit file="slide.html" />


<%block name="main_content">
  <h1 class="cc_royal">Unit and BBD Testing</h1>
  <p>Unit testing of software </p>
  <p>Behavior Driven Development (BBD) based testing is a welcome developed that started in the Ruby
     community and now is being adopted in Python through the 
     <a href="https://github.com/gabrielfalcao/lettuce">lettuce</a> python
     module.
  </p>
  <p>
     <a class="btn primary large" href="/engineering.html">Engineering &raquo;</a>
  </p>
</%block>

<%block name="sidebar_content">
<div class="well">
 <h5>FRBR as a Mid-level Theory</h5>
 <p>Unit and BBD Testing as experimental
     methodology</p>
 <p>...</p>
</div>
</%block>
