<%inherit file="slide.html" />

<%block name="more_js">
<script>
 $(document).ready(function() {
   $("#unit-test-log").hide();	  
  });	
</script>
</%block>

<%block name="main_content">
  <h1 class="cc_royal">Unit and BDD Testing</h1>
  <p>In <a href="${project.url}">${project.name}</a> project, unit tests 
     are the current method of exploring the functionality of the NoSQL &amp; Redis
     technology as a Bibliographic datastore with the current number of active unit
     tests at <span class="label label-important" style="font-size:1em">${active_unit_tests}</span></p>
  <p>Behavior Driven Development (BDD) based testing is a welcome development that started 
     in the Ruby community and now is being adopted in Python through modules such 
     as <a href="http://lettuce.it/">lettuce</a>.
  </p>
  <p>
     <a class="btn btn-primary btn-large" href="/code4lib/engineering/web.html">Client-side Web &amp; Javascript &raquo;</a>
  </p>
</%block>

<%block name="sidebar_content">
<div class="well">
 <h3>Testing FRBR as a High-Middle-Range Theory</h3>
 <p>In their paper, 
    <a href="http://www.ideals.illinois.edu/handle/2142/15105">FRBR as an interdisciplinary high-middle-range theory for information science — a theoretical perspective</a>,
    Renear and Dubin suggest aspects of FRBR follow R.K. Merton's theories of middle range for 
    social science in that "they guide empirical research by providing hypotheses for exploration" and
    for "explaining empirically observed phenonmena". Within the context of the ${project.name}'s, FRBR along 
    with RDA provided a theory of bibliographic relationshiops that was tested with the experimental 
    relationship modeling through the Redis key-value datastore as well as actual metadata records which are
    the observed phenonmena of the bibliographic information field and provide further support for Renean's and 
    Dubin's speculations about FRBR as a Merton middle-range theory.</p>
</div>

<div style="text-align:center">
 <p>
 <a class="btn btn-success btn-large" onclick="$('#unit-test-log').show()" href="#">Show Unit Test Log</a>
 </p>

</div>
</%block>

<%block name="subtopic_one">
<div class="well">
 <h3>BDD</h3>
 <p>The <a href="/code4lib/background/loc_framework.html">Library of Congress 
    Bibliographic Framework for Digital Works</a>, along with other metadata
    standards and schemas such as RDA, FRBR specification, as well as 
    technical documentation is used to create the unit testing of specific
    code in <a href="${project.url}">${project.name}</a>. Described user 
    sceniarios or use cases are especially valued as BDD features are
    created for each and then tested to see if the datastore can meet
    this user requirement.
</div>
</%block>

## START Unit Test Log DIV
<div class="unit_test_log" id="unit-test-log">
<a href="#" class="close" onclick="$('#unit-test-log').hide()">x</a>
<h2>Unit Test Log</h2>
<pre>
${unit_test_results}
</pre>
<p style="text-align:right">
<a href="#" class="btn btn-primary btn-large" onclick="$('#unit-test-log').hide()">Close</a>
</p>
## END Unit Test Log DIV
</div>
