<%inherit file="slide.html" />

<%block name="main_content">
 <h1 class="cc_royal">Web Development</h1>
 <p>To assist in the development <a href="#">FRBR-to-Redis Datastore</a> 
    HTML user-interface, a number of open-source frameworks and libraries
    were used.</p>
    <p>
     <a class="btn btn-primary btn-large" href="/code4lib/engineering/source_code.html">Source Code &raquo;</a>
   </p>
</%block>

<%block name="sidebar_content">
<div class="">
 <h2>Open-source Frameworks</h2>
 <ul class="main-content">
  <li><a href="http://twitter.github.com/bootstrap/">Twitter's Bootstrap</a></li>
  <li><a href="http://jquery.com/">jQuery</a></li>
  <li><a href="http://bottlepy.org/">Bottle: Python Web Framework</a></li>
  <li><a href="http://www.makotemplates.org/">Mako Templates</a></li>
##  <li><a href="http://raphaeljs.com/">Rapha&euml;l</a></li>
##  <li><a href="https://github.com/mrdoob/three.js/">Three.js</a></li></li>
 </ul>
</div>
</%block>
