{% extends 'app-base.html' %}
{% load i18n %}

{% block more-css %}{% endblock %}


{% block body %}
 <div class="row-fluid">
  {% include 'invoices/snippets/top-action-bar.html' %}
 </div>
 <div class="row-fluid main-pane">
  <div class="span2 well">
   <h2>Last Invoices</h2>
   {% for invoice in previous_invoices %}
    <p><a href="/apps/invoices?invoice_key={{ invoice.invoice_key }}">{{ invoice.number }} {{ invoice.date|date:"F j, Y"}}</a></p>
   {% endfor %}
  </div>
  <div class="span7">
   <h2>{% trans "Invoice" %} {{ invoice.number }}</h2>
   <h3>{% trans "Transactions for Invoice" %}</h3>
   {% include 'invoices/snippets/transactions-table.html' %}
  </div>
 </div>
{% endblock %}

