{% extends 'base.html' %}
{% load i18n %}

{% block head-title %}{% trans "FRBR-Redis Datastore App Home" %}{% endblock %}

{% block more-css %}
<style>
 body {
  padding-top: 60px;
}
</style>
{% endblock %}

{% block body %}
 {% comment %}START content DIV{% endcomment %}
 <div class="content">
  {% comment %}START page-header DIV{% endcomment %}
  <div class="page-header">
    <h1>{% trans "FRBR-Redis Datastore App Home" %} 
    <small>{% trans "Access, Discovery, and Productivity Apps for Bibliographic Functions" %}</small>
    </h1>
  {% comment %}END page-header DIV{% endcomment %}
  </div>
  
  <div class="row">
   <div class="span4">
     <h2>{% trans "Vision" %}</h2>
     <p>
       The
       <a href="https://github.com/jermnelson/FRBR-Redis-Datastore">FRBR-Redis Datastore App</a> 
       portfolios are mobile, tablet, and PC single purpose apps that allow the 
       user to discovery and access bibliographic and library information. 
       Productivity apps are available to authenticated users for managing the 
       bibliographic and library information stored in a <a href="http://redis.io/">Redis</a>
       datastore.
     </p>
     <p>
       These apps can be used in isolation, be developed independently
       from each other, and are released in an incremental fashion. Eventually,
       this collection of apps will supercede the need to have a traditional
       intregrated library system.
     </p>
   </div>
   <div class="span6">
    <h2>{% trans "Activity" %}</h2>
    <p>Current app activity</p>
   </div>
  </div>
 {% comment %}END content DIV{% endcomment %}
 </div>
{% endblock %}
{% block more-js %}{% endblock %}
