{% extends 'app-base.html' %}
{% load i18n %}

{% block more-css %}
<link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}call_number/css/app.less" />
<link href="{{ STATIC_URL }}article_search/css/app.css" rel="stylesheet" type="text/css" />
<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
{% endblock %}


{% block body %}
<script type="text/javascript">
function OnSubmitForm()
{
  if (document.getElementById("dbs").innerHTML=='Search Academic Search Complete')
  {
    document.search-form.action = "http://0-search.ebscohost.com.tiger.coloradocollege.edu:80/login.aspx?direct=true&db=a9h&b$
  }
  else if (document.getElementById("dbs").innerHTML=="Search JSTOR")
  {
    document.search-form.action ="update.html";
  }
  else if (document.getElementById("dbs").innerHTML=="Search Google Scholar")
  {
    document.search-form.action ="update.html";
  }
  return true;
}
</script>
{% comment %}START content DIV{% endcomment %}
<div class="content">
 {% comment %}START row-fluid DIV{% endcomment %}
 <div class="row-fluid">
  {% comment %}START search DIV{% endcomment %}
  <div class="row12">
  <div class="app-icon" style="float:left">
   <img src="{{ STATIC_URL}}img/71-compass.png" / class="app-icon" />
  </div>
  <h2>Article Search App</h2>
  <p>The Article Search App is used for finding articles in Web databases.</p>
  <div class="row">
    <div class="span7" style="background:#EEE9DA; border:4px solid white;">
      <form class="form-inline" name="searchForm" style="margin:12px;" onsubmit="return OnSubmitForm();">
        <div class="control-group">
          <label class="control-label" for="searchIcon" style="font-size:18px">Find <strong><font color="green">Articles</font></strong></label>
          <div class="controls">
            <div class="input-prepend" style="float:left; width:248px;">
              <span class="add-on"><i class="icon-search"></i></span><input id="searchIcon" type="text" placeholder="Search for articles!">
            </div>
            <div class="btn-group" style="float:left;">
              <button type="submit" class="btn" id="dbs" value="Search Academic Search Complete">Search Academic Search Complete</button>
              <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a onclick='ChangeText("Search Academic Search Complete");' href="#">Academic Search Complete</a></li>
                <li><a onclick='ChangeText("Search JSTOR");' href="#">JSTOR</a></li>
                <li><a onclick='ChangeText("Search Google Scholar");' href="#">Google Scholar</a></li>
              </ul>
            </div>
          </div>
        </div>
      </form>
      <div class="horizontalList" id="journalSearch">
        <ul>
          <li>&bull; <a href="http://goldrush.coalliance.org/index.cfm?inst_code=001_CCL">Journals</a></li>
          <li>&bull; <a href="http://www2.coloradocollege.edu/library/index.php/collections/databases#subjects">Databases by Subject</a></li>
          <li>&bull; <a href ="http://coloradocollege.libguides.com/databases">Databases by Title</a></li>
        </ul>
      </div>
    </div>
  </div>
  {% comment %}END search DIV{% endcomment %}
  </div>
 {% comment %}END row-fluid DIV{% endcomment %}
 </div>
 {% comment %}START row-fluid DIV{% endcomment %}
 <div class="row-fluid">
  {% comment %}START widget DIV{% endcomment %}
  <div class="row12">
  {% comment %}END widget DIV{% endcomment %}
  </div>
 {% comment %}END row-fluid DIV{% endcomment %}
 </div>
{% comment %}END content DIV{% endcomment %}
</div>
<script type="text/javascript">
function ChangeText(buttonText)
{
document.getElementById("dbs").innerHTML=buttonText;
}
</script>
<script type="text/javascript">
function OnSubmitForm()
{
  if (document.getElementById("dbs").innerHTML=='Search Academic Search Complete')
  {
    var url = "";
    url = url.concat("http://0-search.ebscohost.com.tiger.coloradocollege.edu:80/login.aspx%3Fdirect=true&db=a9h&bquery=", escape(document.getElementById("searchIcon").value).replace(/%20/g, '+'), "&type=1&site=ehost-live");
    document.searchForm.action = url;
  }
  else if (document.getElementById("dbs").innerHTML=="Search JSTOR")
  {
    var url = "";
    url = url.concat("http://0-www.jstor.org.tiger.coloradocollege.edu/action/doBasicSearch%3FQuery=", escape(document.getElementById("searchIcon").value).replace(/%20/g, '+'), "&wc=on&acc=on");
    document.searchForm.action = url;
  }
  else if (document.getElementById("dbs").innerHTML=="Search Google Scholar")
  {
    var url = "";
    url = url.concat("http://0-scholar.google.com.tiger.coloradocollege.edu/scholar%3Fq=", escape(document.getElementById("searchIcon").value).replace(/%20/g, '+'));
    document.searchForm.action = url;
  }
  return true;
}
</script>
{% endblock %}

{% block footer %}
{% endblock %}
